{% extends 'navui/base.html' %}
{% load staticfiles %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div id="navLitModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">The path is lit</h4>
      </div>
      <div class="modal-body">
        <p style="text-align: center"><img src="" id="dimg" height="190"></p>
        <p>Your path is now lit&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="navarea">

  {% for lt in ltypes %}
  <h2>{{ lt.name }}</h2>
  {% for l in lt.locations %}
  <button class="btn btn-{{ l.btn_class }} navbtn" onclick="navClick({{ l.id }})">{% if l.btn_icon %}<span class="glyphicon glyphicon-{{ l.btn_icon }}"></span> {% endif %}{{ l.name }}</button>
  {% endfor %}
  {% endfor %}

</div>


<script type="text/javascript">
function navClick(lid) {
  $.ajax({
    'url': '/api/navclick',
    'method': 'POST',
    'data': { 'lid': lid },
  }).done(function(r) {
    if (r.ok) {
      var rpath = '{% static 'navui/' %}';
      if (r.img) {
        rpath = rpath + r.img;
      } else
        rpath = rpath + 'wman2.gif';
      $('#dimg').attr('src', rpath);
      $('#navLitModal').modal({});
    } else
      alert("Please wait before trying again");
  });
}

</script>

{% endblock %}
