{% extends 'navui/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div id="navarea">

  {% for lt in ltypes %}
  <h2>{{ lt.name }}</h2>
  {% for l in lt.locations %}
  <button class="btn btn-info navbtn" onclick="navClick({{ l.id }})">{{ l.name }}</button>
  {% endfor %}
  {% endfor %}

</div>


<script type="text/javascript">
function navClick(lid) {
  $.ajax({
    'url': '/api/navclick',
    'method': 'POST',
    'data': { 'lid': lid },
  }).done(function(r) {
    alert('ok');
  });
}

</script>

{% endblock %}
